.item {
    display: flex;
    justify-content: space-between;
  }
  
  .item:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .itemName {
    width: 65%;
    font-weight: 500;
  }
  
  .itemNumber {
    margin-right: auto;
  }
  
  .delete_btn {
    border-radius: 5px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 5px;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  3px 3px 5px #8b8b8b,
             -3px -3px 5px #ffffff;
  }
  
  .delete_btn:hover, .delete_btn:focus {
    background: #9e9e9e;
  }
  


  .item {
  
    text-transform: uppercase;
    color: #333;
  } 
  .item {
    
    animation: slideLeft 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(200px);
    } 
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }