.title {
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .contact_list_container {
    position: relative;
  }



  
  .title {
  
    text-transform: uppercase;
    color: #333;
  } 
  .title {
    
    animation: slideRight 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(-20%);
    } 
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

