.list {
    width: 320px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    padding: 20px 10px 10px;
  
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .error {
    color: #c2c2c2;
  }